@page
@model DeleteEmployeeModel
<h2>Slet Medarbejder</h2>
<p>Vil du slette denne medarbejder?</p>
<form method="post">
    <button type="submit">Ja</button>
    <a asp-page="/Admin/CRUD/Index">Nej</a>
</form>
